:root {
  --color-cream: #faf1dd;
  --color-teal: #3c7f72;
  --color-maroon: #992800;
  --color-orange: #d34a24;
  --color-mustard: #ffaf00;

  --font-body: Quicksand, sans-serif;
  --font-headers: 'PT Sans Narrow', sans-serif;
}

.main-layout {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--font-headers);
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

.header {
  margin: 48px 0;
}

.header h1 {
  margin: 0;
}

body {
  background-color: var(--color-cream);
  font-family: var(--font-body);
  font-size: 16px;
}

a {
  color: var(--color-teal);
}

.text-teal {
  color: var(--color-teal);
}

.text-maroon {
  color: var(--color-maroon);
}

.text-orange {
  color: var(--color-orange);
}

.text-mustard {
  color: var(--color-mustard);
}

.logo-stars {
  width: 100px;
}

.divider {
  border: 0;
  width: 100%;
  height: 80px;

  background: linear-gradient(
    to bottom,
    var(--color-teal),
    var(--color-teal) 10px,
    transparent 10px,
    transparent 20px,
    var(--color-maroon) 20px,
    var(--color-maroon) 30px,
    transparent 30px,
    transparent 40px,
    var(--color-orange) 40px,
    var(--color-orange) 50px,
    transparent 50px,
    transparent 60px,
    var(--color-mustard) 60px,
    var(--color-mustard) 70px,
    transparent 70px,
    transparent 80px
  );

  background-size: 100% 80px;
}

p.informational {
  font-size: 24px;
  max-width: 700px;
  line-height: 1.5;
}

.button {
  margin: 40px 0;
  background-color: var(--color-orange);
  border-radius: 10px;
  padding: 8px 10px;
  color: white;
  text-decoration: none;
  font-family: var(--font-headers);
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  max-width: 700px;
}

.footer {
  margin-top: 60px;
  margin-bottom: 80px;
}